
/*
body {
  background-color: rgb(188, 235, 247);
  display: block;
  margin: 180px;
  font-family: "Courier New", monospace;
  text-align: center;
}
*/

.head .top-bar {
  background: transparent;
}

.head .top-bar .menu {
  background: transparent;
}

.head .top-bar .menu-text {
  color: #fefefe;
}

.head .top-bar .menu li {
  display: flex;
  align-items: center;
}

.head .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

.flex-container {
  display: flex;
  text-align: center;
  position: relative;
  color: white;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/****************************************/
/*         button-rounded-hover         */
/****************************************/
.button-rounded-hover {
    border: 0;
    border-radius: 5000px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    transform: translateZ(0);
  }
  
  .button-rounded-hover:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #fefefe;
    transition: all 0.3s;
    transform: translateX(-100%);
  }
  
  .button-rounded-hover:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #115b8d;
    content: '';
    border-radius: inherit;
  }
  
  .button-rounded-hover:hover,
  .button-rounded-hover:focus {
    background-color: #115b8d;
  }
  
  .button-rounded-hover:hover:before,
  .button-rounded-hover:focus:before {
    transform: translateX(0%);
    opacity: 0.25;
  }
  

/****************************************/
/*  button-rounded-hover-update         */
/****************************************/
.button-rounded-hover-update  {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  transform: translateZ(0);
}

.button-rounded-hover-update:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  transform: translateX(-100%);
}

.button-rounded-hover-update:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid navy;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover-update:hover,
.button-rounded-hover-update:focus {
  background-color: #115b8d;
}

.button-rounded-hover-update:before,
.button-rounded-hover-update:focus:before {
  transform: translateX(0%);
  opacity: 0.25;
}



/****************************************/
/*       translucent-form-overlay       */
/****************************************/
  .translucent-form-overlay {
    max-width: 350px;
    width: 250%;
    height: 500px;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
    overflow-y: scroll; 
  }

  .translucent-form-overlay .columns.row {
    display: block;
  }
  
  .translucent-form-overlay H3, .translucent-form-overlay label {
    color: #8a8a8a;
    height: 50px;  
  }
  
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: #8a8a8a;
    height: 50px;
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
    padding-bottom: 15px;
  }
  
  .translucent-form-overlay input::placeholder {
    color: #8a8a8a;
    left: 25px;
  }
  

/****************************************/
/*           hero-full-screen           */
/****************************************/
.hero-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("bar1.jpeg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: flex;
  align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}


/****************************************/
/*       hero-full-screen-create       */
/****************************************/
.hero-full-screen-create {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("bar2.jpeg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen-create .middle-content-section {
  text-align: left;
  color: #fefefe;
}

.hero-full-screen-create .top-content-section {
  width: 100%;
}

.hero-full-screen-create .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen-create .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen-create .top-bar {
  background: transparent;
}

.hero-full-screen-create .top-bar .menu {
  background: transparent;
}

.hero-full-screen-create .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen-create .top-bar .menu li {
  display: flex;
  align-items: center;
}

.hero-full-screen-create .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}


/****************************************/
/*       hero-full-screen-product       */
/****************************************/
.hero-full-screen-product {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("bar8.jpeg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen-product .middle-content-section {
  text-align: left;
  color: #fefefe;
  height: 500px;
  overflow-y: scroll; 
}

.hero-full-screen-product .top-content-section {
  width: 100%;
}

.hero-full-screen-product .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen-product .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen-product .top-bar {
  background: transparent;
}

.hero-full-screen-product .top-bar .menu {
  background: transparent;
}

.hero-full-screen-product .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen-product .top-bar .menu li {
  display: flex;
  align-items: center;
}

.hero-full-screen-product .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}



/****************************************/
/*       hero-full-screen-catalog      */
/****************************************/
.hero-full-screen-catalog  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("bar37.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen-catalog .middle-content-section {
  text-align: left;
  color: #fefefe;s
}

.hero-full-screen-catalog .top-content-section {
  width: 100%;
}

.hero-full-screen-catalog .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen-catalog .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen-catalog .top-bar {
  background: transparent;
}

.hero-full-screen-catalog .top-bar .menu {
  background: transparent;
}

.hero-full-screen-catalog .top-bar .menu-text {
  color: #fefefe;
}
.hero-full-screen-catalog .top-bar .menu li {
  display: flex;
  align-items: center;
}

.hero-full-screen-catalog .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

/****************************************/
/*       hero-full-screen-purchase      */
/****************************************/
.hero-full-screen-purchase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("bar21.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen-purchase .middle-content-section {
  text-align: left;
  color: #fefefe;
  height: 30px;
  overflow-y: scroll; 
}

.hero-full-screen-purchase .middle-content-section-purchase {
  text-align: left;
  color: black;
  height: 50%;
  width: 100%;
  padding-top: 60px;
  overflow-y: scroll; 

}

.hero-full-screen-purchase .grand-total {
  width: 100%;
  text-align: right;
}

.hero-full-screen-purchase .top-content-section {
  width: 100%;
}

.hero-full-screen-purchase .bottom-content-section {
  padding: 1rem;

}

.hero-full-screen-purchase .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen-purchase .top-bar {
  background: transparent;
}

.hero-full-screen-purchase .top-bar .menu {
  background: transparent;
}

.hero-full-screen-purchase .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen-purchase .top-bar .menu li {
  display: flex;
  align-items: center;
}

.hero-full-screen-purchase.top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}

/****************************************/
/*      hero-full-screen-inventory      */
/****************************************/
.hero-full-screen-inventory  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("bar15.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen-inventory .middle-content-section {
  text-align: left;
  color: #fefefe;
}

.hero-full-screen-inventory .top-content-section {
  width: 100%;
}

.hero-full-screen-inventory .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen-inventory .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen-inventory .top-bar {
  background: transparent;
}

.hero-full-screen-inventory .top-bar .menu {
  background: transparent;
}

.hero-full-screen-inventory .top-bar .menu-text {
  color: #fefefe;
}
.hero-full-screen-inventory .top-bar .menu li {
  display: flex;
  align-items: center;
}

.hero-full-screen-inventory.top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}


/****************************************/
/*       hero-full-screen-reports      */
/****************************************/
.hero-full-screen-reports  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("bar23.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen-reports .middle-content-section {
  text-align: left;
  color: #fefefe;
}

.hero-full-screen-reports .report{
  height: 380px;
  overflow-y: scroll;  
}

.hero-full-screen-reports .top-content-section {
  width: 100%;
}

.hero-full-screen-reports .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen-reports .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen-reports .top-bar {
  background: transparent;
}

.hero-full-screen-reports .top-bar .menu {
  background: transparent;
}

.hero-full-screen-reports .top-bar .menu-text {
  color: #fefefe;
}
.hero-full-screen-reports .top-bar .menu li {
  display: flex;
  align-items: center;
}

.hero-full-screen-reports .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}


/****************************************/
/*              card-product            */
/****************************************/
.card-product-form {
  max-width: 300px;
}

.card-product:hover .card-product-img-wrapper img {
  filter: grayscale(0);
}

.card-product:hover .card-product-img-wrapper .button {
  transform: translateY(-3rem);
}

.card-product-img-wrapper {
  margin-bottom: 1.375rem;
  position: relative;
  overflow: hidden;
}

.card-product-img-wrapper .button {
  transition: all 0.2s ease;
  background-color: #767676;
  padding: 1rem 0.5rem;
  bottom: -3rem;
  transform: translateY(3rem);
  position: absolute;
  z-index: 2;
  color: #fefefe;
  margin-bottom: 0;
}

.card-product-img-wrapper .button:hover {
  background-color: #1779ba;
}

.card-product-img-wrapper img {
  transition: all 0.2s ease;
  filter: grayscale(1);
  width: 100%;
  
}

.card-product-img-wrapper .card-product-name {
  font-size: 1.375rem;
}

.card-product-img-wrapper .card-product-price {
  font-weight: bold;
}

.card-product-img-wrapper .card-product-description {
  color: #8a8a8a;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.class-product-name {
  box-align: center;
}



/***  product-section  ***/
.product-section {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: scroll;
}

.product-card {
  background-color: $white;
  border: 1px solid $light-gray;
  padding: 1rem;
  margin-bottom: 1.5rem; 
  width:200px; 
}

.product-card-thumbnail {
  display: block;
  position: relative;
}

.product-card-thumbnail:hover .card-product-img-wrapper img {
  filter: grayscale(0);
}

.product-card-thumbnail:hover .card-product-img-wrapper .button {
  transform: translateY(-3rem);
}

.product-card-title {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc {
  color: whitesmoke;
  display: block;
  font-family: 'Open sans', sans-serif;
  font-size: 0.85rem;

  height: 150px;
}

.product-card-price {
  color: whitesmoke;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem; 
}






/***  INVENTORY product-section  ***/
.product-section-inventory {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  overflow-y: scroll;
}

.product-card-inventory {
  background-color: transparent;
  border: 1px solid $light-gray;
  padding: 1rem;
  margin-bottom: 1.5rem; 
  width:135px; 
}

.product-card-thumbnail-inventory  {
  display: block;
  position: relative;
}

.product-card-thumbnail-inventory :hover .card-product-img-wrapper-inventory  img {
  filter: grayscale(0);
}

.product-card-thumbnail-inventory:hover .card-product-img-wrapper-inventory  .button {
  transform: translateY(-3rem);
}

.product-card-title-inventory  {
  font-family: 'Open sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.product-card-desc-inventory  {
  color: whitesmoke;
  display: block;
  font-family: 'Open sans', sans-serif;
  margin-top: 1rem;
  font-size: 0.85rem;
}

.product-card-price-inventory  {
  color: whitesmoke;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.8rem; 
}





/* TEST FOR FLOATING */
.form-floating-label {
  position: relative;
}

.form-floating-label [type='text'],
.form-floating-label [type='password'],
.form-floating-label [type='date'],
.form-floating-label [type='datetime'],
.form-floating-label [type='datetime-local'],
.form-floating-label [type='month'],
.form-floating-label [type='week'],
.form-floating-label [type='email'],
.form-floating-label [type='number'],
.form-floating-label [type='search'],
.form-floating-label [type='tel'],
.form-floating-label [type='time'],
.form-floating-label [type='url'],
.form-floating-label [type='color'],
.form-floating-label textarea {
  margin-bottom: 0;
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 300;
  padding: 30px 1rem 1rem 25px;
}

.form-floating-label label {
  color: #8a8a8a;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 25px;
  bottom: 0;
  transition: all 0.2s ease-in;
  font-weight: 300;
}

.form-floating-label textarea ~ label {
  top: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #8a8a8a;
}

.form-floating-label input:focus ~ label,
.form-floating-label input:disabled[value] ~ label,
.form-floating-label.has-value input ~ label {
  top: 0;
  font-size: 12px;
  color: dodgerblue;
  font-weight: 400;
}

.form-floating-label textarea:focus ~ label,
.form-floating-label.has-value textarea ~ label {
  top: 0;
  font-size: 12px;
  color: dodgerblue;
  font-weight: 400;
}


/*** Add to Cart Interaction ***/
.button-add-cart {
  position: relative;
  overflow: hidden;
}

.button-add-cart.is-adding {
  border-radius: 25px;
  max-width: 50px;
  max-height: 50px;
  cursor: default;
}

.button-add-cart.is-adding::after {
  -webkit-animation: fadeIn 0.3s ease-in, spin 1.3s infinite ease-in-out;
          animation: fadeIn 0.3s ease-in, spin 1.3s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.button-add-cart.is-adding span {
  opacity: 0;
}

.button-add-cart::after {
  content: " ";
  border-top: solid 4px #17cae6;
  border-right: solid 4px #17cae6;
  border-bottom: solid 4px #17cae6;
  border-left: solid 4px transparent;
  border-radius: 50px;
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  margin: auto;
  max-width: 30px;
  max-height: 30px;
  opacity: 0;
  z-index: 1;
}

@-webkit-keyframes spin {
  0%, 5% {
    transform: rotate(0deg);
  }
  95%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0%, 5% {
    transform: rotate(0deg);
  }
  95%, 100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*Price on Catalog */
.price {
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
}

.label-purchase{
  color: white;
  font-size: small;
  font-weight: bold;
}


/*Quantity on Catalog*/
.qty {
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  margin-bottom: 0;
  font-size: smaller;
}

/*Hover to Add to Cart Button */
.button-hover-addcart {
  border: 2px solid #767676;
  background: transparent;
  color: #767676;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.07rem;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.button-hover-addcart span {
  transition: all 0.2s ease-in-out;
}

.button-hover-addcart .fa {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  /*color: #1779ba;*/
  color:white;
  right: -20px;
  transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-addcart:hover {
  border-color: #1779ba;;
  background: transparent;
  transition: border-color 0.2s;
}

.button-hover-addcart:hover span {
  margin-right: 20px;
  color: white;
}

.button-hover-addcart:hover .fa {
  right: 12px;
}


/** Plus to Minus */
.input-number-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

.input-number-group .input-group-button {
  line-height: calc(80px/2 - 5px);
}

.input-number-group .input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  height: 40px;
  user-select: none;
  border-radius: 0;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  display: inline-block;
  width: 40px;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.input-number-group .input-number-decrement {
  margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
  margin-left: 0.3rem;
}


/*** shoping cart icon */
.fa-shopping-cart{
  color: white;
  padding: 0.25em 0.8em;

}


/*  white */
.white {
  color: white;
}


/* ORDER FORM */
.order-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white; 
}

.order-qty {
  flex: 2;
}

.order-price {
  flex: 2;
}

.order-spacer {
  flex: 1;
  justify-content: space-between;
  color: transparent;
}


/* TEST PURCHASE */
.test-purchase {
  display: flex;
  background-color:  white;
  justify-content: space-between;
  padding-right: .8em;
  color: red;
  font-weight: 500;

}



/* DATE PICKER */
.date-picker{
  margin-bottom: 10px;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  flex-direction: row;
 
}

.flex-container-date {
  margin-bottom: 10px;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  flex-direction: row;
  height: 80px;
  overflow-y: scroll; 
}

.label-date {
display: inline-table;
max-width: 150px;
color: white;
font-weight: 400px;
}

.btn-date{
  display: inline-table;
  height: 46px;
  width: 150px;
  color: #8a8a8a;
  background-color: rgb(46, 25, 0);
  
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}


/* TEST DATE */
.test-date{
  color: white;
  font-weight: 800;
}


.error {
    color: red;
}




/* Responsive table */
.flex-container-date-range {
  margin-bottom: 30px;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  flex-direction: row;
  height: 10x;
  overflow-y: scroll; 

}

.label-date-range {
  padding-bottom: 20px;
}

.responsive-card-table {
  border-collapse: collapse;
  height: 20px;
  overflow-y: scroll; 

}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
  height: 10px;
  overflow-y: scroll; 
}

.responsive-card-table th {
  color: #8a8a8a;
  background-color: rgb(46, 25, 0);
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {
    
  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

.grand-total{
  margin-bottom: 30px;
  display: flex;
  align-items: right;
  justify-content: flex-end;
  flex-direction: row;
}




.btn-inventory{
  display: inline-table;
  height: 46px;
  width: 150px;
  color: #8a8a8a;
  background-color: rgb(25, 2, 87);
  
}






/*   FLASH   */
#flash {
  .notice {
  padding: 8px 14px;
  margin-bottom: 20px;
  background-color: #fcf8e3;
  @include border-radius(2px);
  }
  .flash-message {
  display: inline-block;
  }
  button.flash-close {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 25px;
  padding: 0;
  margin: 0;
  float: right;
  color: #984949;
  cursor: pointer;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  &:hover {
  cursor: pointer;
  }
  }
  .success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  }
  .error {
  background-color: #ead2d3;
  border-color: #eed3d7;
  color: #984949;
  }
  .info {
  background-color: #d9edf7;
  color: #3a87ad;
  }
  



  /**** BAR GRAPH ***/

.bar-graph {
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  height: 425px;
  margin: 0;
}

.bar-graph li {
  display: block;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  flex: 1 1 8%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar-graph .bar-graph-label {
  margin: 0;
  background-color: none;
  color: #8a8a8a;
  position: relative;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #8a8a8a;
    top: 0;
    left: 0;
    height: 50%;
    width: 20%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    width: 30%;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:after {
    left: auto;
    right: 0;
  }
}

.bar-graph .percent {
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
  font-size: 1.875rem;
  position: absolute;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 3.875rem;
  }
}

.bar-graph .percent span {
  font-size: 1.875rem;
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  bottom: 20px;
  position: absolute;
  font-size: 1rem;
  overflow: hidden;
}

.bar-graph .bar.primary {
  border: 1px solid #1779ba;
  background: linear-gradient(#2196e3, #1779ba 70%);
}

.bar-graph .bar.secondary {
  border: 1px solid #767676;
  background: linear-gradient(#909090, #767676 70%);
}

.bar-graph .bar.success {
  border: 1px solid #3adb76;
  background: linear-gradient(#65e394, #3adb76 70%);
}

.bar-graph .bar.warning {
  border: 1px solid #ffae00;
  background: linear-gradient(#ffbe33, #ffae00 70%);
}

.bar-graph .bar.alert {
  border: 1px solid #cc4b37;
  background: linear-gradient(#d67060, #cc4b37 70%);
}




/*   Table BG */
.bg_white{
  background-color: #909090;
  color:navy;
}


.flex-container-bottle{
  display: flex;
  flex-direction: row;
  height: 50px;
}

.make-smller{
  background-color: transparent;
  max-width: 2px;
}

.empty-bottle {
  max-width: 2px;
  align-content: center;
  background-color: #3adb76;

}



/* display_purchase responsive table */
.middle{
  height: 100px;
  width: 700px;
  overflow-y: scroll; 
}


/* select menu */
.select-menu{
  color: #8a8a8a;
  background-color: #1779ba;
}


