{% extends "base.html" %}

{% block content %}
<form method='POST'>
    <div class="hero-full-screen-purchase">
        <div class="top-content-section">
            <div class="top-bar">
                <div class="top-bar-left">
                <ul class="menu">
                    <!-- <li class="menu-text"><img src="http://placehold.it/75x30" alt="logo"></li>-->
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                    <li><a href="/purchase">Purchase</a></li>
                    <li><a href="/inventory">Inventory</a></li>
                    <li><a href="/reports">Reports</a></li> 
                </ul>
                </div>
                <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="/test"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></a></li>
                </ul>
                </div>
            </div>
        </div>

     
        <div class="text-date">
            <h3>Purchases from {{start}} - {{end}}</h3> 
        </div>
      
       
        {% if purchases|length > 0 %}
            <table class="responsive-card-table unstriped">       
                <thead>
                    <tr>
                    <th>Inovice</th>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% for purchase in purchases: %}
              
                    <tr>
                        <td data-label="nvoice">{{purchase.id}}</td>
                        <td data-label="Date">{{purchase.purchase_date}}</td>
                        <td data-label="Product">{{purchase.brand}} {{purchase.name}}</td>
                        <td data-label="Price">${{purchase.price}}</td>
                        <td data-label="Quantity">{{purchase.quantity}} </td>
                        <td data-label="Total">${{purchase.price * purchase.quantity}}</td>
                    </tr>

                {% endfor %} 
                </tbody>
            </table> <!-- END TABLE responsive-card-table unstriped -->

    
        {% endif %}  

        <table class="grad-total">
            <tr>
                <td> Grand Total <smaller>( Purchases from {{start}} - {{end}} )</smaller> : ${{total}}</td>
            </tr>
        </table>




        <div class="bottom-content-section">
            <div class="flex-container-date-range">
                <div class="form-floating-label">
                    <input type="date" name="start-date">
                    <label class="label-date-range" for="start-date" >From:</label>
                </div>

                <span class="validity"></span>

                <div class="order-spacer">
                        <span> - </span>
                </div>

                <div class="form-floating-label">
                    <input type="date" name="end-date">
                    <label class="label-date-range" for="end-date" >To:</label>
                </div>

                <span class="validity"></span>

                <div class="order-spacer">
                        <span> - </span>
                </div>

                <div>
                    <!--
                    <label class="submit-date" for="date_qry"> - </label>>
                    -->>
                    <input class="btn-date" id="date_qry" name="date_qry" type="submit"  formaction="/display_purchase">
                </div> 
            </div>
        </div> <!--   END of bottom-content-section   -->
            

   
    </div> <!-- END HERO -->


    <script type="text/javascript" src="{{ url_for('static', filename='cart.js') }}"></script>

{% endblock %}