{% extends "base.html" %}

{% block content %}
  <form method="post">
      <div class="hero-full-screen">
        <div class="top-content-section">
            <div class="top-bar">
              <div class="top-bar-left">
                <ul class="menu">
                  <!-- <li class="menu-text"><img src="http://placehold.it/75x30" alt="logo"></li>-->
                  <li><a href="/">Home</a></li>
                  <li><a href="/create">Create</a></li>
                  <li><a href="/catalog">Catalog</a></li>
                  <li><a href="/purchase">Purchase</a></li>
                  <li><a href="/inventory">Inventory</a></li>
                  <li><a href="/reports">Reports</a></li>
                  <li><a href="/chart">TEST chart</a></li>
                </ul>
              </div> <!-- END TOP BAR LEFT--> 
              <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="/test"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></a></li>
                </ul>
              </div> <!-- END TOP BAR RIGHT -->
            </div> <!-- END TOP BAR -->
        </div> <!-- END TOP CONTENT -->

        <br>
        <br>
        
        <div class="middle-content-section">
          <h1>BarUp</h1>
          <h2>A bar inventory tool served straight up!</h2>
        </div>
      
        <div class="bottom-content-section" data-magellan data-threshold="0">
             </div>

 
    </div> <!-- END HERO --> 
  </form>
  

  <script  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
{% endblock %}