{% extends "base.html" %}

{% block content %}
<form method='POST'>
    <div class="hero-full-screen-inventory">
        <div class="top-content-section">
            <div class="top-bar">
                <div class="top-bar-left">
                <ul class="menu">
                    <!-- <li class="menu-text"><img src="http://placehold.it/75x30" alt="logo"></li>-->
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                    <li><a href="/purchase">Purchase</a></li>
                    <li><a href="/inventory">Inventory</a></li>
                    <li><a href="/reports">Reports</a></li> 
                </ul>
                </div>
                <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="/test"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></a></li>
                </ul>
                </div>
            </div>
        </div>
      
        <!--< a class="button expanded" formaction="add_to_cart()">Buy</a> -->
        {% if products|length > 0 %}
            <div class="product-section-inventory">
            <table>
            {% for result in results: %} 

            <tr>
                <td>brand: {{result.brand}}</td>
                <td>name: {{result.name}}</td>
                <td>Level: {{result.approx_level}}</td>
            </tr>
            {% endfor %} 
            </table>  
            {% for product in products: %}
                <form method="POST">
                    <div class="product-card-inventory ">
                        <div class="product-card-thumbnail-inventory ">
                             <div class="card-product-img-wrapper-inventory "> 
                               
                                <input type="hidden" name="product_id" value="{{ product.id }}"/>
                         
                                <!--
                                <button class="expanded button-hover-addcart button" formaction="/buy"><span>Buy</span><i class="fa fa-shopping-cart"></i></button>
                             -->
                                <a href="#"><img src="static/media/{{product[0].label_name }}"></a>
                            </div> <!-- END IM WRAPPER -->
                        </div> <!-- END CAR THUMBNAIL -->
                        <h2 class="product-card-title-inventory "><a href="#">{{product.id}}</a></h2>
                        <h2 class="product-card-title-inventory "><a href="#">{{product.purchase_id}}</a></h2>
                        <!--
                        <span class="product-card-price">$9.99</span>
                        <span class="product-card-sale">$12.99</span>
                        -->

                        <div class="flex-container-bottle">
                            <a href="#"><img class="empty-bottle" src="static/media/b_100.svg"></a>
                            <label for="volume">Volume</label>
                            <input type="number" id="days-off-count" value="100" min="0" max="100"/>
                           
                            
                        </div>
                        
                        
     

                            <!--
                            <input class="slider" type="range" id="start" name="volume" min="0" max="10" />
                    -->
                     
                        

                        <hr>

                        <!--
                        <div class="order-form"> 
                            <div class="oder-price">
                                <span class="order-label">Price:</span>
                                <input class="price" name="price" type="text" value="">
                            </div>
                            <div class="order-spacer">
                                <span> - </span>
                            </div>
                            <div class="oder-qty">
                                <span class="order-label">Qty:</span>
                                <input class="quantity" name="quantity" type="number" value="0" min="0" max="1000">
                            </div>
                        </div>
                    -->

<!--
                        <div class="input-group input-number-group">
                            <input class="input-number" id="quantity" name="quantity" type="number" value="" min="0" max="1000">
                        </div>
                    -->
                       
                   </div> <!-- END product-card-->








                </form>
            {% endfor %} 
            
            </div>  <!-- END product-section -->
    
        {% endif %}   





        

        {% if all_inventory|length > 0 %} 
        <div clas="white">
                <div>
                    <table>
                        <tr>
                            <td clas="bg_white"> 
                                {% for bottle in all_inventory: %} 
                                    {{bottle.id}}
                                {% endfor %} 
                            </td>
                        </tr>
                    </table>
 
                </div>  
        </div>
        {% endif %} 







        
        <div class="bottom-content-section">
            <div class="flex-container-date-range">
                <div class="form-floating-label">
                    <input type="date" name="start-date">
                    <label class="label-date-range" for="start-date" >From:</label>
                </div>

                <span class="validity"></span>

                <div class="order-spacer">
                        <span> - </span>
                </div>

                <div class="form-floating-label">
                    <input type="date" name="end-date">
                    <label class="label-date-range" for="end-date" >To:</label>
                </div>

                <span class="validity"></span>

                <div class="order-spacer">
                        <span> - </span>
                </div>

                <div>
                    <!--
                    <label class="submit-date" for="date_qry"> - </label>>
                    -->
                    <input class="btn-inventory" id="date_qry" name="date_qry" type="submit"  action="/inventory">
                </div> 
            </div>
        </div> <!--   END of bottom-content-section   -->
   
        </div> <!-- END HERO -->


        <script type="text/javascript" src="{{ url_for('static', filename='cart.js') }}"></script>

{% endblock %}