{% extends "base.html" %}
{% block content %}



<form method="POST">
  <div class="hero-full-screen-product">
      <div class="top-content-section">
          <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <!-- <li class="menu-text"><img src="http://placehold.it/75x30" alt="logo"></li>-->
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/purchase">Purchase</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/reports">Reports</a></li>
              </ul>
            </div> <!-- END TOP BAR LEFT--> 
            <div class="top-bar-right">
              <ul class="menu">
                  <li><a href="/test"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></a></li>
              </ul>
            </div> <!-- END TOP BAR RIGHT -->
          </div> <!-- END TOP BAR -->
      </div> <!-- END TOP CONTENT -->


    <div class="middle-content-section">

      <div class="card-product-form">
        <div class="card card-product">
          <div class="card-product-img-wrapper">
            <!-- <a class="button expanded" formaction="/buy">Buy</a> -->
            <button class="expanded button-hover-addcart button" formaction="/buy"><span>Buy</span><i class="fa fa-shopping-cart"></i></button>
            <a href="#"><img src="static/media/{{product.label_name }}"></a>
          </div>
          <div class="card-section">
            <a href="#"><h6 class="card-product-name">{{product.brand}}</h6></a>
            <a href="#"><h5 class="card-product-name">{{product.name}}</h5></a>
            <input type="hidden" name="product_id" value="{{ product.id }}"/>
            <table>
              <tr>
                <td><img src="https://www.countryflags.io/{{product.country}}/flat/64.png"></td>
                <td> Volume: {{product.volume}}</td>

                {% if product.vintage > 0: %}
                  <td><h8>Vintage: </h8>{{product.vintage}}</td>
                {% else %}
                  <td><h8>Vintage: </h8>n/a</td>
                {% endif %}
              
              </tr> 
              <tr><h7 class="card-product-price">Category: {{product.category}}</h7></tr> 
            </table>

            <p class="card-product-description">{{product.description}}</p>
          </div>
        </div>
        <div class="order-form"> 
          <div class="oder-price">
              <span class="order-label">Price:</span>
              <input class="price" name="price" type="text" value="" required>
          </div>
          <div class="order-spacer">
              <span> - </span>
          </div>
          <div class="oder-qty">
              <span class="order-label">Qty:</span>
              <input class="quantity" name="quantity" type="number" value="0" min="0" max="1000">
          </div>
      </div>
      </div>   
        
    </div> <!-- END MIDDLE CONTENT -->





  </div> <!-- END HERO -->
</form>
 


{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}