{% extends "base.html" %}
{% block content %}



<form method="POST">
  <div class="hero-full-screen">
      <div class="top-content-section">
          <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <!-- <li class="menu-text"><img src="http://placehold.it/75x30" alt="logo"></li>-->
                <li><a href="/create">Create</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/purchase">Purchase</a></li>
                <li><a href="/reports">Reports</a></li>
                <li><a href="/inventory">Inventory</a></li>
              </ul>
            </div> <!-- END TOP BAR LEFT--> 
            <div class="top-bar-right">
              <ul class="menu">
                  <li><a href="/test"><i class="fa fa-2x fa-shopping-cart" aria-hidden="true"></i></a></li>
              </ul>
            </div> <!-- END TOP BAR RIGHT -->
          </div> <!-- END TOP BAR -->
      </div> <!-- END TOP CONTENT -->


    <div class="middle-content-section">

      <div class="card-product-form">
        <div class="card card-product">
          <div class="card-product-img-wrapper">
            <a class="button expanded">Buy</a>
            <a href="#"><img src="static/media/{{product.label_name }}"></a>
          </div>
          <div class="card-section">
            <a href="#"><h6 class="card-product-name">{{product.brand}}</h6></a>
            <a href="#"><h5 class="card-product-name">{{product.name}}</h5></a>
            <table>
              <tr>
                <td><img src="https://www.countryflags.io/{{product.country}}/flat/64.png"></td>
                <td> {{product.volume}}</td>
                <td><h8>Vintage </h8>{{product.vintage}}</td>
              </tr> 
              <tr><h7 class="card-product-price">{{product.category}}</h7></tr> 
            </table>

            <h6 class="card-product-price">$19.99</h6>

            <p class="card-product-description">{{product.description}}</p>
          </div>
        </div>
      </div>   
        
    </div> <!-- END MIDDLE CONTENT -->





  </div> <!-- END HERO -->
</form>
 


{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}